/* Es el cuerpo principal de la pagina */
body {
  margin: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Se encarga del contenido dentro del dashboard */
.content {
  margin: 12px;
}

.container {
  border: 2px solid #cccccc;
}

/* Modifica el titulo */
.title {
  text-align: center;
  border: 2px solid #cccccc;
}

/* Se encarga del texto de error */
.text-danger{
  color: red;
}

/* Son los botones */
button{
  border-radius: 4px;
  padding: 2px 10px;
  border: 1px solid rgba(130, 146, 168, 0.698);
}
